.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 7rem 0;

  form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      label {
        font-size: 0.85rem;
      }

      input {
        height: 40px;
        width: 100%;
        padding: 0 0.5rem;
        font-size: 1rem;
      }
    }

    button {
      width: 150px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #314da6;
      color: white;
    }
  }
}
